/*Div tabla de pedidos*/
.divPedidos {
    margin: 5px;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border: solid 2px white;
    border-radius: 15px;
}

.divPedidos h2 {
    font-size: 40px;
}
.tablaPedidos {
    border-collapse: collapse;
    border: solid 2px black;
    width: 90%;
    margin: 0 auto;
}

thead {
    background-color: black;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

td {
    border-bottom: solid 2px black;
}

tr {
    text-align: center;
    font-size: 20px;
}