.home-page {
    display: flex;
}

.contenedor-lista-materiales, .materiales-form {
    width: 25%;
    margin: 10% 2%;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.678);
    border-radius: 4px;
    padding: 10px;
}

.lista-materiales {
    list-style: none;
    padding: 5px;
}

.lista-materiales li {
    padding: 5px 10px;
    border: solid 3px gray;
    margin: 10px 5px;
}

.nombre-material, .descripcion-material {
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    font-weight: bold;
}
.map {
    margin: 13px 0 0 15%;
    min-height: 400px;
    height: 100%;
    max-height: 400px;
}


/*--------------------------------------------------- Formulario ----------------------------------------------------*/

.materiales-form {
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.678);
    border-radius: 4px;
    padding: 10px;
    height: 50vh;
}

.materiales-form .form section {
    width: 100%;
    margin-top: 30px;
}

.materiales-form .form section div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.admin-btns {
    display: flex;
    justify-content: flex-end;
}

.admin-btns .btn {
    text-align: center;
}

.edit-material-form section {
    width: 80%;
}

.edit-material-form section div {
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}