/*Body*/
body {
    padding: 0;
    margin: 0;  
    font-family: 'calibri';
    background-position: center center;
    background: radial-gradient(circle,  #D5F5E3, #58D68D);
}

body::-webkit-scrollbar { /*Para cambiarle el estilo a la barra de scroll*/
    width: 10px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 3px;
}

/*Header: Logo y barra de navegacion*/
.header {
    min-height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
}

.menuLogo {
    width: 80px;
    justify-content: flex-start;
    margin: 5px 0px 3px 10px;
    border-radius: 50px;
}

nav {
    display: block;
    width: auto;
}

.barraNavegacion {
    display: flex;
    width: calc(100% - 10px);
    justify-content: space-around;
    margin: 10px;
    margin-right: 0;
    background-color: black;
    padding-left: 0;
}

.header ul.barraNavegacion li {
    list-style: none;
    margin: 5px 5px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    transition: background-color .5s;
}

.header ul.barraNavegacion li:hover {
    background-color: #58D68D;
}

a {
    text-decoration: none;
    color: black;
}

/*Contenido*/
main.contenido {
    display: block;
    justify-content: space-around;
}

/*Footer*/
.footer {
    min-height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}

.textoFooter {
    color: white;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.body {
    min-height: 80vh;
    margin: 1px 0;
}


/*--------------------------------------------------- Formularios ----------------------------------------------------*/

.form-container {
    min-width: 20%;
    max-width: 60%;
    margin: 100px auto;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.678);
    border-radius: 4px;
}

.form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.form section {
    width: 40%;
}

.form section div {
    margin: 15px 0;
    min-height: 60px;
}

.form section div label {
    width: 90%;
}

.form section div input, .form section div textarea {
    margin-top: 5px;
}

.form-title {
    margin-top: 40px;
    text-align: center;
}

.form .Enviar {
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    min-height: 30px;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.btn:hover {
    transition: 0.3s;
    background-color: rgba(128, 128, 128, 0.596);
}